<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Learning</title>
    <link rel="stylesheet" href="styles.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script> 
</head>
<body>
    <div id="newApp">
        <!-- <h1>{{ greet()}}</h1>
        <h1> My name is {{ name }}</h1>
        <h1> I am {{age}} old</h1>
        <button v-on:click="add(1)" >Add Year</button> <button @click="subtract(1)">subtract Year</button>
        <button @dblclick="add(10)" >Add 10 Years</button> <button v-on:dblclick="subtract(10)">subtract 10 Years</button>
        <a @click.prevent="linkroute" v-bind:href="website">google</a> -->
        <!-- <input type="text" :value="age">
        <p v-html="websiteTag"></p> -->
        <!-- <div id="beauty" v-on:mousemove="updateXY">{{x}} , {{y}}</div> -->

        <h1>Keyboard Events test
        </h1>
        <!-- <label>Name</label>
        <input type="text" @keyup.enter="nameLog">
        <label>Age</label>
        <input type="text" @keyup.alt.enter="ageLog"> -->
        <label>Name</label>
        <input type="text" v-model="name">
        <label>Age</label>
        <input type="text" v-model="age">
        <span>my name is {{name}} i am {{age}} years old</span>

    </div>
<script src="app.js"></script>
</body>
</html>